body
{
    margin: 0;
    padding: 0;
    background: #FDF5E6;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    background-image: url(/images/image.jpg);
}
ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3 {
  border-bottom: 1px solid white;
  font-size: 25px;
}
p { font-weight: 700;
    display: inline;
}
p1 { font-weight: 600;
     color: #191970;
}
p2 { font-weight: 600;
}
.card {
  /* Add shadows to create the "card" effect */
  background-image: url(/images/image5.jpg);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.6s;
  border-radius: 10px;
}

.left {
 position: absolute !important;
 top: 10%;
 left: 60px;
 width: 60%;
}

.right {
  position: absolute !important;
  top: 10%;
  right: 60px;
  width: 30%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #F08080;
    transition: 0.2s ease;
}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"]
{
    margin-bottom: 10px;
    width: 165px;
    height: 45px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}

button[type="submit"]
{
    margin-bottom: 10px;
    width: 165px;
    height: 45px;
    background: #A52A2A;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}

button[type="submit"]:hover,
button[type="submit"]:focus
{
    background: #FF0000;
    transition: 0.2s ease;
}

button[type="submit2"]
{
    margin-bottom: 10px;
    width: 165px;
    height: 45px;
    background: #228B22;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

button[type="submit2"]:hover,
button[type="submit2"]:focus
{
    background: #32CD32;
    transition: 0.2s ease;
}

button[type="submit3"]
{
    margin-bottom: 10px;
    width: 165px;
    height: 45px;
    background: #FFA500;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}

button[type="submit3"]:hover,
button[type="submit3"]:focus
{
    background: #FFD700;
    transition: 0.2s ease;
}

select {
	width: 90px;
}

.dropbtn {
    background-color: #4CAF50;
    color: grey;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    top: 6.7%;
    margin-right: 32px;
    right:0;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 30px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #C0C0C0
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


