body
{
    margin: 0;
    padding: 0;
    background: #E6E6FA;
    font-size: 15px;
    color: #191970;
    font-family: sans-serif;
    font-weight: 300;
    background-image: url(image.jpg);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.6s;
  background: #B0C4DE;
  border-radius: 10px;
  left: 25%;
  width: 80%;
   background-image: url(image.jpg);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #00BFFF;
    transition: 0.2s ease;
}

input[type="submit"]
{
    background: #6495ED;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.2s ease; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table {
  table-layout: fixed;
  font-family: arial, sans-serif;
  border-collapse: separate;
  width: 40%;
}

td, th {
  text-align: center;
  padding: 12px;
}

th {
background-color: #6495ED;
color: white;
font-style: italic;
}

table {
    counter-reset: rowNumber;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

tr:nth-child(odd) {
  background-color: #E6E6FA;
}

tr:nth-child(even) {
  background-color: #B0C4DE;
}



