<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<title> Quiz App</title>
    <link href="css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
</head>
<body>
<div>
    <div class="card left">
        <div class="container">
            <form action="/generate_quiz" method="POST">
                <h3>Start a new quiz</h3>
                <p2> Select the difficulty:</p2>
                <select name="difficulty">
                    <option value="ALL">all</option>
                    <option value="EASY">easy</option>
                    <option value="MEDIUM">medium</option>
                    <option value="HARD">hard</option>
                </select><br><br>
                <p2> Select the number of questions: </p2>
                <select name="questionCount">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select><br>

                <br><br>
                <p><button type="submit2">START</button></p>

            </form>
        </div>
    </div>


    <div class="card right">
        <div class="container">

            <h3>Profile</h3>
            <p>Username:</p><p1 th:text="' ' + ${username}"></p1><br><br>
            <p>Solved quiz:</p><p1 th:text="' ' + ${finished_test}"></p1><br><br>
            <p>Average score percent:</p><p1 th:text="' ' + ${avg_score}"></p1><p1> %</p1><br><br>
            <p>#RANK:</p><p1 th:text="' ' + ${rank}"></p1><br><br>
            <ul  class="no-bullets">
            <li>
                <form method="GET" action="/statistics">
                    <button type="submit3">Statistics</button>
                </form>
            </li>
            <li>
            <form action="/logout" method="POST">
                    <input type="submit" value="Logout"/>
            </form>
            </li>
            <li>
                <form method=POST onsubmit="return confirm('Delete your account?')"
                      action="">
                    <button type="submit">Delete account</button>
                </form>
            </li>
            </ul>
        </div>
    </div>
</div>

</body>    
</html>
