<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<title> Quiz App</title>
    <link href="css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/dfdfa558db.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div>
    <div class="card left">
        <div class="container">
            <form action="/generate_quiz" method="POST">
                <h3>Start a new quiz</h3>
                <p2> Select the difficulty:</p2>
                <select name="difficulty">
                    <option th:each="difficulty: ${difficulties}" th:value="${difficulty}"
                            th:text="${difficulty.getRealName()}"></option>
                </select><br><br>
                <p2> Select the number of questions: </p2>
                <select name="questionCount">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select><br>

                <br><br>
                <p><button type="submit2">START</button></p>

            </form>
        </div>
    </div>


    <div class="card right">
        <div class="container">
            <h3>Profile</h3>
            <div>
                <p>Username:</p><p1 th:text="' ' + ${userData.getUsername()}"></p1>
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="settings">
                    <a class="dropdown-item" href="/logout">Logout</a>
                    <a class="dropdown-item" href="" onsubmit="return confirm('Delete your account?')">Delete account</a>
                </div>
            </div>

            </div>
            <br>
            <p>Solved quiz:</p><p1 th:text="' ' + ${userData.getFinishedTests()}"></p1><br><br>
            <p>Score:</p><p1 th:text="' ' + ${userData.getScore()}"></p1><br><br>
            <p>Average score percent:</p><p1 th:text="' ' + ${userData.getAvgScore()}"></p1><p1> %</p1><br><br>
            <p>#RANK:</p><p1 th:text="' ' + ${userData.getRank()}"></p1><br><br>
            <ul  class="no-bullets">
            <li>
                <form method="GET" action="/statistics">
                    <button type="submit3">Statistics</button>
                </form>
            </li>
            </ul>
        </div>
    </div>
</div>

</body>    
</html>
