<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="css/quiz.css" rel="stylesheet"/>

</head>
<h1>Quiz</h1>
<body>
<div class="card">
    <div class="container">
        <form action="/quiz" method="POST">
            <progress  th:value="${questionIndex}" th:max="${questionCount}"> </progress>
            <div class="container">
                <h2 th:text="${quizDto.getQuestion().getQuestion()}"></h2>
                <div th:each="answer : ${quizDto.getQuestion().getAnswers()}">
                    <section class="light">
                        <label>
                            <input type="radio" name="answer" th:value="${answer}" required>
                            <span class="design"></span>
                            <span class="text" for="answer" th:text="${answer}"></span>
                        </label>
                    </section>
                </div>
            </div>
            <div style="overflow:auto;">
                <button type="submit" class="btn btn-primary mb-2">Next</button>
            </div>
        </form>
    </div>
</div>
</div>
    </body>
</html>
